<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-media-scanner" version="1.0.0"  xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>MediaScanner</name><js-module name="MediaScanner" src="www/MediaScanner.js"><clobbers target="MediaScanner" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="MediaScanner"><param name="android-package" value="cordova.plugin.media.scanner.MediaScanner" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/MediaScanner.java" target-dir="src/org/apache/cordova/plugin" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="MediaScanner"><param name="ios-package" value="MediaScanner" /></feature></config-file><source-file src="src/ios/MediaScanner.m" /></platform></plugin>